extends layout
block content 
   div#form

      label.colorRojo=titulo
      br/
   
      label nombre 
      label=usuario.nombre_completo.nombre
      br/

      label primer apellido 
      label=usuario.nombre_completo.apellido_uno
      br/
               
      label segundo apellido 
      label=usuario.nombre_completo.apellido_dos
      br/
               
      //- Aquí irian las cuestiones de añadir 1 a N mascotas
