div.modal-dialog
  div.modal-content
    div.modal-header
      button( data-dismiss="modal" aria-label="Close").close
        span(aria-hidden="true") &times;
      h4.modal-title #{title}
    div.modal-body
