//- Ejemplo de comentario en jade
extends layout
block content
   div.container
      div.row
         div.col-sm-6.col-md-4.col-md-offset-4
           h1.text-center.login-title Your password have been send!
           div.account-wall
              p In a few minutes you will recived an email with the following steps to reset your password.
              p Please check your email, and verify you don't have recived your email as spam.
