extends layout
block content
	
	form()#datosPerfil
		label.colorRojo=titulo
		input(type='hidden' value=data._id)
		br/	
		label email 
		input(placeholder=data.e_mail)
		br/
		
		input(type='submit' value='Actualizar datos')
		
	label password
	label   *****
	button(value='Actualizar contraseña').
	script(type='text/javascript').
		$('#datosPerfil').submit(function()
		{
			//alert("Me mando");
			$.ajax(
			{
				async: true,
				dataType: "json",
				success: function (data, textStatus)
				{
					//alert("ok");
				},
				type: "post",
				url: "/updateUser",
				data : { id : this.value }
			});
		});
			
		
		
		
